button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: $border-style;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $blue;
    @include MW1024 {
      color: $black;
      background-color: transparent;
    }
  }
}
