html {
  overflow: hidden;
  font-weight: 700;
  font-family: $basic-font;
  scrollbar-width: none;
  @include MW1200 {
    font-size: 7px;
  }
}

.play-game {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: $white;
}

.resolution-stub {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: $white;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: $white;
  transform: translate(-50%, -50%);

  p {
    margin-bottom: 2rem;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;

  .app-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4rem;
    font-size: 4rem;
  }

  .version {
    font-weight: 400;
    font-size: 2rem;
  }

  button:first-child {
    margin-bottom: 1rem;
  }
}

.sides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;

  &__user-side,
  &__ai-side {
    [data-status='hit'] {
      background: $red;
    }

    [data-status='sunk'] {
      background: $grey;
    }

    position: relative;
    flex-grow: 1;
  }

  &__user-side {
    [data-status='ship'] {
      background-color: $blue;
    }

    margin-right: 2rem;
  }

  &__ai-side {
    [data-status='ship'],
    [data-status='dead-zone'],
    [data-status='empty'] {
      &:hover {
        box-shadow: $aim;
        @include MW1024 {
          box-shadow: none;
        }
      }
    }
  }
}

.hide {
  cursor: none;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $cell-size/4;
  height: $cell-size/4;
  background-color: $black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
