.table {
  &__row {
    display: flex;

    &:first-child {
      padding: 2rem 0;
    }

    .cell {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;

      &--info {
        font-size: 2rem;
      }

      &--shelled {
        width: 20%;
        height: 20%;
        background-color: $black;
        border-radius: 50%;
      }
    }

    .game-cell {
      height: 0;
      padding-bottom: 5%;
      border-right: $border-style;
      border-bottom: $border-style;

      &[data-cell-id^='1-'] {
        border-top: $border-style;
      }

      &[data-cell-id$='-1'] {
        border-left: $border-style;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
