$black: #000;
$white: #fff;
$grey: #c5c5c5;
$white: #fff;
$blue: #91d0f2;
$red: #fd776c;
$basic-font: 'Raleway', sans-serif;
$cell-size: 4.5rem;
$border-style: solid 1px $black;
$aim: inset 0.1rem 0.1rem 1rem $red;
